{% extends 'app/base2.html' %}

{% block title %}Egresos{% endblock %}

{% block contenido %}

<div style="text-align: center;">
    <h1>Egresos</h1>
</div>
<br>
<br>
<div style="text-align: center;">Total Egresos</div>
<table border="1px" border-collapse= collapse width=90%>
    <thead>
        <tr text-align= center>
            <td style="font-weight: bold" text-align= center>Fecha</td>
            <td style="font-weight: bold">Detalle</td>
            <td style="font-weight: bold">Precio</td>
            <td style="font-weight: bold">Cantidad</td>
        </tr>
    </thead>
    <tbody>
        {% for per in gastos %}
        <tr>
            <td>{{per.fecha}}</td>
            <td>{{per.detalle}}</td>
            <td>{{per.precio}}</td>
            <td>{{per.cantidad}}</td>
            <td>
                <a href="{% url 'editar1' per.fecha %}"><button type="button" class="btn btn-primary">Editar</button></a>
                <a href="{% url 'eliminar1' per.fecha %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
            </td>
        </tr>
        {% endfor %}
        <div style="text-align: center; font-weight: bold;"><h3>${{ total1 }}</h3></div>
        <br>
    </tbody>
</table>
<br>
<div style="text-align: center;">
    <a href="/Gastos/crear1"><button type="button" class="btn btn-success">Agregar</button></a>
</div>
{% endblock %}