{% extends 'app/base1.html' %}

{% load static %}

{% block contenido %}
<br><br>
<div style="display: flex; margin: 60px;">
  <div style="width: 50% border-right: 2px solid black;">
    <div style="display: flex; align-items: center; padding: 40px;">
      <div style="align-items: center;">
        <h5>Aque nos dedicamos</h5>
        <p class="I-TXT2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore ñkanflwbelb  </p>
        <p class="I-TXT2">enim optio in sapiente quod voluptate nam maiores ab repellendusajwlfbo lugwowif</p> 
        <p class="I-TXT2">consectetur aspernatur quo assumenda fuga esse, doloribus  kbwkqjwlrlwhleqeqw qqeq</p> 
        <p class="I-TXT2">exercitationem neque odio nihil adnoli ñknlwiu mdajwbf nlqwnldi lqnw. adwqtfqwf qe </p>
        <br><br>
        <img class="Imagen" src="#" width="50%">
        <br><br>
        <p class="I-TXT3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ullam dolore</p>
        <p class="I-TXT3">dolorum aut quasi, sit nesciunt, tenetur reprehenderit assumenda consequuntur maxime.</p>
        <p class="I-TXT3">Nam pariatur reiciendis, earum aspernatur dolorem tempora nesciunt fuga!</p>
      </div>
    </div>
  </div>
  <div style="width: 50%; margin-top: 20px">  
    <div style="align-items: center;">
      <h4>Clientes Favoritos</h4>
      <dt>Cliente 1</dt>
      <img class="Imagen1" src="#">
      <dt>Cliente 2</dt>
      <img class="Imagen1" src="#">
      <dt>Cliente 3</dt>
      <img class="Imagen1" src="#">
      <P class="I-TXT4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio 
              error itaque esse? Quas, architecto repellat quaerat qui sapiente sed 
              dolor provident culpa! Voluptates numquam repudiandae distinctio 
              incidunt quis ipsa consequuntur!</P>
    </div>
  </div>
</div>

{% endblock %}