{% extends 'app/base1.html' %}

{% load static %}

{% block contenido %}

<!-- Contenedor -->
<div class="pricing-wrapper clearfix">
    <!-- Titulo -->
    <h1 class="pricing-table-title">Nuestros planes</h1>

    <div class="pricing-table">
      <h3 class="pricing-title">Gratuito</h3>
      <div class="price">$0<sup>/ mes</sup></div>
      <!-- Lista de Caracteristicas / Propiedades -->
      <ul class="table-list">
        <li>Registrar <span>tus ventas</span></li>
        <li>Registrar <span>tus gastos</span></li>
        <li>Recordar <span>tus cobros y deudas</span></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- Contratar / Comprar -->
      <div class="table-buy">
        <p>Gratis</p>
      </div>
    </div>
    
    <div class="pricing-table recommended">
      <h3 class="pricing-title">Premium</h3>
      <div class="price">$4.100<sup>/ mes</sup></div>
      <!-- Lista de Caracteristicas / Propiedades -->
      <ul class="table-list">
        <li>Registrar <span>tus ventas</span></li>
        <li>Registrar <span>tus gastos</span></li>
        <li>Recordar <span>tus cobros y deudas</span></li>
        <li>Gestionar <span>tu inventario</span></li>
        <li>Crear documentos <span>para tus clientes</span></li>
        <li>Guardar <span>a tus contactos y clientes</span></li>
      </ul>
      <!-- Contratar / Comprar -->
      <div class="table-buy">
        <p style="color: red">No disponible</p>
      </div>
    </div>
  </div>

{% endblock %}

