*{
    font-family: "Bahnschrift", Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: white;
}

.header{
    background-color: #00c25b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 50px 10%;
}
.Banner {
    width: 100%;
}
.header .Logo{
    cursor: pointer;
    margin-right: auto;
}
.header .Logo img{
    height: 80px;
    width: 150px;
    transition: all 0.3s;
}
.header .Logo img:hover{
    transform: scale(1.2);
}
.header .nav-opc{
    list-style: none;
}
.header .nav-opc li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-opc a{
    font-size: 700;
    color: white;
    text-decoration: none;
}
.header .nav-opc li:hover{
    transform: scale(1.1);
}
.header .nav-opc li a:hover{
    color: black;
}
.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: gray;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background-color: white;
    color: gray;
    transform: scale(1.1);
}
.contenido{
    display: flex;
    margin: 60px;
}
.info1{
    width: 70%;
    border-right: 3px solid black;
}
.op1{
    display: flex;
    align-items: center;
    padding: 40px;
}
.info2{
    width: 20%;
    margin-top: 20px;
}
.info2 a {
    display: block;
    text-align: center;
    color:gray;
    margin-bottom: 20px;
}