{% extends 'app/base.html' %}

{% block titulo %} Registro de Ventas {% endblock %}

{% block contenido %}
Listar ventas

<table border="1px" border-collapse= collapse width=80%>
    <thead>
        <tr text-align= center>
            <td text-align= center>Nombre</td>
            <td>Fecha</td>
            <td>Precio</td>
            <td>Descripcion</td>
        </tr>
    </thead>
    <tbody>
        {% for per in ventas %}
        <tr>
            <td>{{per.nombre}}</td>
            <td>{{per.fecha}}</td>
            <td>{{per.precio}}</td>
            <td>{{per.descripcion}}</td>
            <td>
                <a href="{% url 'eliminar'  per.nombre %}">Eliminar</a>
                <a href="{% url 'editar'  per.nombre %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

{% endblock %}