{% extends 'app/base2.html' %}

{% block title %}Ingresos{% endblock %}

{% block contenido %}

<div style="text-align: center;">
    <h1>Ingresos</h1>
</div>
<br>
<br>
<div style="text-align: center;">Total Ingresos</div>
<table border="1px" border-collapse= collapse width=90%>
    <thead>
        <tr text-align= center>
            <td style="font-weight: bold" text-align= center>Nombre</td>
            <td style="font-weight: bold">Fecha</td>
            <td style="font-weight: bold">Precio</td>
            <td style="font-weight: bold">Detalle</td>
        </tr>
    </thead>
    <tbody>
        {% for per in ventas %}
            <tr>
                <td>{{per.nombre}}</td>
                <td>{{per.fecha}}</td>
                <td>{{per.precio}}</td>
                <td>{{per.descripcion}}</td>
                <td>
                    <a href="{% url 'editar'  per.nombre %}"><button type="button" class="btn btn-primary">Editar</button></a>
                    <a href="{% url 'eliminar'  per.nombre %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
                </td>
            </tr>
        {% endfor %}
        <div style="text-align: center; font-weight: bold;"><h3>${{ total }}</h3></div>
        <br>
    </tbody>
</table>
<br>
<div style="text-align: center;">
    <a href="/Ventas/crear"><button type="button" class="btn btn-success">Agregar</button></a>
</div>
<br>

{% endblock %}