{% extends "app/base2.html" %}

{% block contenido %}

<br>
<div id="contenido" style="text-align: center; width: 100%;">
    <h2>Contacto</h2>
    <br>
    <form>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="tu@email.cl">
        <br>
        <br>
        <label for="telefono">Telefono</label>
        <input type="number" name="telefono" id="telefono">
        <br>
        <br>
        <label for="tipoconsulta">Tipo consulta</label>

        <select name="tipoconsulta" id="tipoconsulta">
            <option>seleccionar</option>
            <option>consulta</option>
            <option>reclamo</option>
            <option>sugerencia</option>
            <option>felicitaciones</option>
        </select>
        <br>
        <br>
        <label for="Mensaje">Mensaje</label>
        <textarea name="Mensaje" id="Mensaje" cols="30" rows="10"></textarea>
        <br>
        <br>
        <button type="button" class="btn btn-success">Enviar</button>
    </form>
    <table id="tablacontactos">
    </table>
</div>
{% endblock %}